.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 10px;

  display: flex;               /* Center horizontally & vertically */
  justify-content: center;
  align-items: center;
}

.todo-app {
  background: white;
  width: 100%;
  max-width: 500px;            /* Limit size */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.todo-app h2 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  background: #f0f0f0;
  border-radius: 5px;
  font-size: 14px;
}

.row button {
  padding: 10px 20px;
  background: #002765;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
